@model IEnumerable<NETCore.Models.Zamowienie>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista Zamówień</h1>

<p>
    <a asp-action="Create">Dodaj nowe zamówienie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obuwie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obuwie.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klient.Nazwisko)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
